body {
  background-color: #ffffff;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.brand-icon {
  width: 34px;
  height: 34px;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-icon::before,
.brand-icon::after,
.brand-icon div::before,
.brand-icon div::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
}

.top-left {
  width: 50%;
  height: 50%;
  border: 1px solid #004c3f;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-right {
  width: 50%;
  height: 50%;
  background-color: #004c3f;
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  margin-right: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #004c3f;
  border-radius: 5px;
  overflow: hidden;
}

.search-form input {
  border: none;
  padding: 5px;
  outline: none;
}

.search-form button {
  background-color: #004c3f;
  border: none;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #00332e;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-section {
  width: Hug (1, 441px) px;
  height: Hug (2, 405px) px;
  gap: 0px;
  opacity: 0px;
  background-color: #f9f9f9;
  color: black;
}

.first-section-container {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #e9ecef;
  padding: 32px 64px;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.left-side p {
  color: #111111;
  padding-right: 64px;
}

.left-side h1,
.left-side h2 {
  color: #3a6150;
  font-weight: bold;
}

.left-side h2 {
  margin-top: 32px;
  font-size: 24px;
}

.left-side p:nth-child(2) {
  margin: 32px 0 16px 0;
}

.right-side img {
  width: 648px;
  height: 648px;
  border-radius: 10px;
  align-self: center;
}

.buy-now-btn {
  width: fit-content;
  padding: 11px 63px 11px 63px;
  margin-top: 32px;
  border-radius: 4px;
  background: #3a6150;
  color: #ffffff;
}

.search-button {
  background-color: #198754;
  color: white;
}

.about-us-container {
  border-radius: 20px;
  border-color: #198754;
  display: flex;
  justify-content: space-between;
  width: Hug (1, 440px) px;
  height: Hug (449px) px;
  padding: 80px 64px 80px 64px;
  gap: 18px;
  opacity: 0px;
  background: #ffffff;
}

.about-us-container img {
  width: 200px;
  height: 290px;
  padding: 20px;
}

.about-us-container .content-1,
.about-us-container .content-2 {
  display: flex;
  flex-direction: row;
  background: #3a6150;
  color: #ffffff;
  font-size: 12px;
}

.about-us-container a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.about-us-container .text-content {
  width: Hug (647px) px;
  height: Hug (289px) px;
  padding: 24px 24px 35px 24px;
  gap: 10px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background: #3a6150;
  color: #ffffff;
}

.contact-us-container {
  background: #71837b;
  padding: 80px 64px 120px 64px;
  opacity: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-us {
  width: 525px;
  height: 637px;
  gap: 0px;
  opacity: 0px;
  color: #111111;
  background: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.contact-us {
  position: relative;
}

.contact-info {
  position: absolute;
  text-align: left;
  background-image: url("./assets/ContactUsBackgroundImg.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 100%;
}

.contact-info-content {
  width: 465px;
  margin-top: 40px;
  margin-left: 40px;

  h4 {
    font-size: 48px;
    font-weight: bold;
  }

  p {
    width: 415px;
  }
}

.social-icons {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 32px;
  display: flex;
  gap: 32px;
}

.social-icons a {
  padding-right: 10px;
  color: #111111;
}

.contact-info ul {
  padding-top: 52px;

  i {
    font-size: 24px;
  }
}

.contact-info li {
  display: flex;
  gap: 24px;
  padding-bottom: 20px;
}

.send-message-btn {
  width: fit-content;
  padding: 11px 63px 11px 63px;
  border-radius: 4px;
  background: #3a6150;
  color: #ffffff;
}

.contact-form {
  background: #ffffff;
  padding: 48px 20px 48px 28px;
  border-radius: 0px 12px 12px 0px;
  opacity: 0px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: grid;
  grid-template-columns: auto auto;
}

.form-field {
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#accept-terms  {
  input {
    margin-right: 16px;
  }
}

#accept-terms {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid 3a6150;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.required {
  color: red;
}

input[type="radio"] {
  margin: 0px 5px;
}

.footer-container {
  padding: 24px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.footer-container .content-1 {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;

  .item-1 {
    h4 {
      font-size: 32px;
    }

    p {
      margin-top: 24px;
    }
  }
}

.footer-container .content-1 li {
  padding-bottom: 15px;
}

.footer-container .content-1 a {
  color: #000000;
  text-decoration: none;
}

.footer-container .content-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: #e9e9e9 solid 1px;
  padding: 32px 64px 16px 360px;
  font-size: 13px;
  font-weight: bold;
}

.copy-right {
  margin: auto;
}

.mail-to {
  margin-top: 12px;
  text-decoration: underline;
}

.footer-container .content-2 ul {
  display: flex;
}

.footer-container .content-2 li {
  padding: 0px 5px;
}

.footer-container .content-2 a {
  color: #11111180;
  text-decoration: none;
}

.footer-container .content-2 p {
  color: #000000;
  margin-left: 270px;
}

.subscribe-btn {
  margin: 10px;
  width: fit-content;
  padding: 11px 63px 11px 63px;
  border-radius: 4px;
  background: #3a6150;
  color: #ffffff;
}

.footer-container input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

.footer-container input:focus {
  border-bottom: 1px solid #000000;
  outline: none;
}

.subscibe-form {
  display: flex;
}

.email-input {
  margin-top: 30px;
}

.card-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
